.ButtonPlaylist {
  border: 1px solid var(--text-color-primary);
  background-color: transparent;
  color: var(--color-white);
  border-radius: 8px;
  width: max-content;
  align-self: center;
  font-size: 0.8rem;
  padding: 6px 24px;
  margin: 12px 0;
}
