.CardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  color: var(--color-white);
}

.CardContainer.innerGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-self: center;
}

.Card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.CardHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.CardHeader ion-icon {
  margin: 5px 0 0 0;
}

.CardHeader2 {
  flex-direction: row;
}

.CardHeader p {
  font-size: 0.8rem;
  color: #bebebe;
  font-weight: 500;
}

.WrapperImage {
  width: 178px;
  height: 152px;
}

.Image {
  width: 100%;
  height: 100%;
  background: url("https://e-cdns-images.dzcdn.net/images/playlist/0b92c2f9e94a1a3650f0de769c4fc07c/264x264-000000-80-0-0.jpg")
    no-repeat center/100% 100%;
}

.CardMain {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 12px;
  gap: 16px;
}

.InfoCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.InfoCard h3 {
  font-weight: 800;
}
