@tailwind components;

@layer components {
  .hiddenings {
    @apply opacity-0 -z-10;
  }
  .wrapperCardImage:hover .cardImage {
    @apply max-md:opacity-100 opacity-80;
  }
  .wrapperCardImage:hover .optionsCard .hiddenings {
    @apply flex opacity-100 z-10 max-md:hidden;
  }
  .list-item {
    @apply hover:bg-zinc-700 flex items-center py-2 px-4 gap-2 select-none;
  }
}

/* Remover abaixo */

/* .Cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  gap: 24px;
}

.CardGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  color: var(--color-white);
}

.CardGroup.innerGroup {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 28px 12px;
  align-self: center;
  overflow: hidden;
}

.CardRoot {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.CardHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.CardHeader2 {
  flex-direction: row;
}

.CardHeader p {
  font-size: 0.8rem;
  color: #bebebe;
  font-weight: 500;
}

.Image {
  width: 100%;
  height: 160px;
  background: url("https://e-cdns-images.dzcdn.net/images/playlist/0b92c2f9e94a1a3650f0de769c4fc07c/264x264-000000-80-0-0.jpg")
    no-repeat center/100% 100%;
}

.CardMain {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  gap: 8px;
}

.InfoCard {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.InfoCard h3 {
  font-weight: 800;
}

.InfoCard p {
  color: #727272;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.CardMusicList {
  list-style-type: decimal-leading-zero;
  margin: 16px;
} */
